<!doctype html>
<html>
<head>
    <title>Profil</title>
    <link rel="stylesheet" href="/css/bootstrap3.0.2.min.css" integrity="sha384-9d8Aogf7tHtMbZ308B717RIAg9eT36ej1BichgRciu424PhBqbSByjRC78yLE7ZX" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/font-awesome.min.css" integrity="sha384-VkQkSCa5cfqslmkwUAeovUYczl8ONc69MCGqqV0zsRwXjfQqaFvCmMppB03Uvkqt" crossorigina="anonymous">
    <style>
    body        { padding-top:80px; word-wrap:break-word; }
</style>
</head>
<body>
    <div class="container">

        <div class="page-header text-center">
            <h1></span> Profil Utilisateur</h1>
            <a href="/logout" class="btn btn-default btn-sm">Se déconnecter</a>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>
                    <p>
                        <strong>id</strong>: <%= user.id %><br>
                        <strong>nom</strong>: <%= user.nom %><br>
                        <strong>droit</strong>: <%= user.droit %><br>
                        <strong>password</strong>: <%= user.pass %>
                    </p>
                </div>
            </div>

        </div>

    </div>
</body>
</html>
