body{
  max-width: 1920px;
  max-height: 1080px;
  background: url("img/tirAuBut.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
}
#circle{
  width: 100px;
  position: absolute;
  top:806px;
  left: 960px;
  display: none;
  z-index: 1;
}
.animDebut{
  display: block!important;
  animation-name: tournes;
  animation-duration:0.4s;
  animation-timing-function: ease;
  animation-play-state: running;
}
.finAnim{
  display:block!important;
  animation: retournes 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation-play-state: running;
  animation-delay: 0.3s;
}
@keyframes tournes {
  0%{
    transform: rotate(0deg);
    opacity: 0;
  }
  30%{
    opacity:1;
  }
  100% {
     transform: rotate(360deg);
      opacity: 1;
   }
}
@-webkit-keyframes tournes {
  0%{
    transform: rotate(0deg);
    opacity: 0;
  }
  30%{
    opacity:1;
  }
  100% {
     transform: rotate(360deg);
      opacity: 1;
   }
}
@keyframes retournes {
  0% {
    transform: rotate(0deg);
    opacity: 2;
  }
  50%{
    opacity:1;
  }
100% {
    transform: rotate(-360deg);
    opacity: 0;
  }
}
@-webkit-keyframes retournes {
  0% {
    transform: rotate(0deg);
    opacity: 2;
  }
  50%{
    opacity:1;
  }
100% {
    transform: rotate(-360deg);
    opacity: 0;
  }
}
#rectDroite2{
  width: 551px;
  height: 121px;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top:773px;
  left:1011px;
}
#aileDroite2{
  width:547px;
  position: absolute;
  left:0px;
  top:-4px;
  display: none;
  z-index: -1;

}
.deploiementAileDroite2{
  display: block!important;
  animation: goToRight  0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation-delay: 0s;
  animation-play-state: running;
}
.retourAileDroite2{
  display: block!important;
  animation: goToLeft 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation-play-state: running;
  animation-delay: 0.3s;
}

 @keyframes goToRight {
   0%{
     transform: translateX(-550px);

     }

   100%{
      transform: translateX(0px);

    }
  }
  @-webkit-keyframes goToRight {
    0%{
      transform: translateX(-550px);

      }

    100%{
       transform: translateX(0px);

     }
   }
  @keyframes goToLeft {
    0%{
      transform: translateX(0px);
      opacity: 1;
      }

     100%{
       transform: translateX(-550px);
      opacity: 0;

     }
  }
  @-webkit-keyframes goToLeft {
    0%{
      transform: translateX(0px);
      opacity: 1;
      }

     100%{
       transform: translateX(-550px);
      opacity: 0;

     }
  }
  #rectDroite3{
    width: 551px;
    height: 121px;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    top:773px;
    left:459px;
  }
  #aileDroite3{
    width:547px;
    position: absolute;
    left:0px;
    top:-4px;
    display: none;
    z-index: -1;

  }
  .deploiementAileDroite3{
    display: block!important;
    animation: parsGauche  0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 0s;
    animation-play-state: running;
  }
  .retourAileDroite3{
    display: block!important;
    animation: parsDroite 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-play-state: running;
    animation-delay: 0.3s;
  }

   @keyframes parsGauche {
     0%{
       transform: translateX(550px);

       }

     100%{
        transform: translateX(0px);

      }
    }
    @-webkit-keyframes parsGauche {
      0%{
        transform: translateX(550px);

        }

      100%{
         transform: translateX(0px);

       }
     }
    @keyframes parsDroite {
      0%{
        transform: translateX(0px);
        opacity: 1;
        }

       100%{
         transform: translateX(550px);
        opacity: 0;

       }
    }
    @-webkit-keyframes parsDroite {
      0%{
        transform: translateX(0px);
        opacity: 1;
        }

       100%{
         transform: translateX(550px);
        opacity: 0;

       }
    }

#villeScore{
  font-size: 15px;
  font-family: Arial;
  fill: white;
  stroke: none;
}
#scoreVille{
  font-size: 15px;
  font-family: Arial;
  fill: white;
  stroke: none;
}
#resultatScoreVille{
  font-size: 15px;
  font-family: Arial;
  fill: white;
  stroke: none;
}
#resultatVilleScore{
  font-size: 15px;
  font-family: Arial;
  fill: white;
  stroke: none;
}
#panneauDroit{
  width: 551px;
  height: 58px;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top:881px;
  left:1011px;
}
#panneauAileDroite{
  width:547px;
  position: absolute;
  left:0px;
  top:0px;
  display: none;
  z-index: -1;
}
.deploiementPanneau{
  display: block!important;
  animation: descente 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-play-state: running;
  animation-delay: 0.5s;
}
.remballePanneau{
  display: block!important;
  animation: remontes 0.25s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation-play-state: running;
}
@keyframes remontes {
  0% {

              transform: translateY(0px);
    opacity: 1;
  }
  100% {


              transform: translateY(-53px);
    opacity: 0;
  }
}
@-webkit-keyframes remontes {
  0% {

              transform: translateY(0px);
    opacity: 1;
  }
  100% {


              transform: translateY(-53px);
    opacity: 0;
  }
}

@keyframes descente {
  0% {

              transform: translateY(-53px);
    opacity: 0;
  }
  100% {


              transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes descente {
  0% {

              transform: translateY(-53px);
    opacity: 0;
  }
  100% {


              transform: translateY(0px);
    opacity: 1;
  }
}
#panneauGauche{
  width: 551px;
  height: 58px;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top:881px;
  left:458px;
}
#panneauAileGauche{
  width:547px;
  position: absolute;
  left:0px;
  top:0px;
  display: none;
  z-index: -1;
}
#logo{
  width: 100px;
  position: absolute;
  top:806px;
  left: 960px;
  display: none;
  z-index: 1;
}
.flip-in-hor-bottom {
  display: block!important;
	animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.5s;
}

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
